body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: large;
}
#menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: inline-block;
    opacity: 0;
    transition: opacity 0.5s;
}
li {
    display: inline;
    text-decoration: none;
    color: black;
    margin: 0 5px 0;
}



#handle {
    margin: 20px;
    /*transform: rotate(90deg);*/
}
@keyframes handleon {
    from {transform: rotate(0);}
    to {transform: rotate(90deg);}
}
@keyframes handleoff {
    from {transform: rotate(90deg);}
    to {transform: rotate(0);}
}

.header {
    display: block;
    opacity: 1;
    transition: opacity 0.5s, font-size 1s;
    padding: 50px;
}
.header:hover {
    opacity: 0;    
    font-size: xx-large;
}

h2 {
    text-indent: 10%;        
}

p { 
    margin: 15%;        
}

h3 {
    text-indent: 10%; 
    /*margin-top: 5%;*/       
}

.component 
{ 
    padding: 2rem; 
     
    background-color: lightgray; 
     
       animation: 2s infinite alternate ease-in-out breathing-color--dark; 
} 
  
@keyframes breathing-color--dark 
{ 
    from 
    { 
        background-color: lightgray; 
    } 
    to 
    { 
        background-color: gray; 
    } 
} 
.container 
{ 
    padding: 1rem; 
    background-color: white; 
} 
 
p 
{ 
    margin: 15; 
} 
 
body 
{ 
    margin: 15; 
     
    background-color: lightgray; 
} 

.box {
    border-left: solid 3px black;

}

